/* 
*****
RESET
*****
*/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
*****
DEBUG
*****
*/


.debug .bottom-header {
    /* background-color: #00008b; */
    /* height: 520px; */
}

.debug #bottom-header-card {
    /* background-color: #ee82ee;*/
    /* height: 420px; */
    /* border: black dashed 2px; */
}

/* .debug section {
    height: 630px;
    background-color: white;
} */

.debug .bottom-section {
    /* height: 1050px; */
}

/* .debug .section-card {
    height: 520px;
    border: black dashed 2px;}
 */

/* .debug .content-box {
    background-color: #1e90ff;
    border: black dashed 2px;
} */

/* .debug .column {
    background-color:#ffc0cb;
    border: black dashed 2px;
} */

.debug .bottom-card {
    background-color: #228b22;
    height: 950px;
    border: black dashed 2px;
}

.debug footer {
    background-color: #23272a;
}

.debug .top-footer {
    height: 670px;
}

.debug .bottom-footer {
    height: 120px;
}

.debug .top-footer-card {
    height: 620px;
    
}

.debug .top-footer-card div:first-child {
    background-color: #f08080;
    border: black dashed 2px;
  }

.debug .top-footer-card div:not(:first-child) {
    background-color: #20b2aa;
    border: white dashed 2px;
  }

.debug .bottom-footer-card {
    background-color: #7fffd4;
    height: 85px;
}

.debug .footer-logo, .footer-button {
    border: black dashed 2px;
    height: 35px;
    background-color: #ffb6c1;
}



/* 
***********************************************************************************************************************************
*/


/* 
*****
COMMON
*****
*/

:root {
    --discord-color: #7289da; 
    --discord-blue: #255ee9; 
  }

body {
    font-family: 'Roboto', sans-serif;
}

.button {
    border-radius: 25px;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid white;
    background-color: white;
    color: black;  
}

.black {
    color: white;
    background-color: #23272a;
    border: 1px solid #23272a;
}

p {
    font-size: 20px;
    line-height: 1.625;
}

.column {
    max-width: 500px;
    flex-shrink: 0;
}

.column h2 {
    font-size: 44px;
    margin-top: 30PX;
}

/* 
*****
HEADER
*****
*/



/* 
*****
TOP HEADER
*****
*/

.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--discord-blue);
}

nav {
    display: flex;
}

#navbar {
    width: 1250px;
    padding: 12px;
}

#login, #logo {
    width: 25%;
    display: flex;
    align-items: center;
}

#login {
    padding-right: 10px;
    justify-content: flex-end;
}

#link {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#link a {
    color: white; 
    text-decoration: none;
  }

#logo {
    padding-left: 10px;
}

/* 
*****
BOTTOM HEADER
*****
*/

h1 {
    font-size: 44px;
    margin-top: 150px;
}

.bottom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/jumbo.png);
    background-size: cover;
}

#bottom-header-card {
    width: 950px;
    color: white;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding-bottom: 132px;
}

#bottom-header-card p {
    margin: 0 25px;
    margin-bottom: 25px;
}

.button span {
    font-size: 20px;
    vertical-align: middle;
}






/* 
*****
MAIN
*****
*/

main section:nth-child(even) {
    background-color: #f5f5f5; 
  }

main section:nth-child(odd) {
    background-color: white; 
  }


/* 
*****
SECTION
*****
*/

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0;
}

.section-card {
    width: 1250px;
    display: flex;
}

.content-box {
    flex-grow: 1;
}

.reverse {
    flex-direction: row-reverse;
}

/* 
*****
BOTTOM SECTION
*****
*/


.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0;
}

.bottom-card {
    width: 1250px;
}

/* 
*****
FOOTER
*****
*/

/* 
*****
TOP FOOTER
*****
*/

.top-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-footer-card {
    width: 1250px;
    display: flex;
}

.top-footer-card div:first-child {
    background-color: #f08080; /* Example background color */
  }

  .top-footer-card div:first-child {
    flex: 2;
  }

.top-footer-card div:not(:first-child) {
    flex: 1;
  }


/* 
*****
BOTTOM FOOTER
*****
*/

.bottom-footer {
    display: flex;
    border-top: white solid 2px;
    border-bottom: white solid 1px;
    justify-content: center;
    align-items: flex-end;
}

.bottom-footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
}

.footer-logo {
    font-size: 30px;
}

.footer-button {
    font-size: 30px;
}




